#header{
    background-color: rgba(119, 173, 255, 1);
    display: flex;
    justify-content: space-between;
    color: black;
}

#header .logo{
    display: flex;
}

#header .logo img{
    height: 115px;
    width: 115px;
    border-radius: 100%;
    margin-left: 28px;
}

#header .logo h3{
    margin-top: 46px;
    margin-left: 15px;
}

#header .nav-bar{
    display: flex;
}

#header .nav-bar h3{
    margin: 46px 20px 0 20px;
}

#header .nav-bar h3:hover{
    cursor: pointer;
}
